<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>TP_Chifoumi</display-name>
  <welcome-file-list>
    <welcome-file>jouer</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>ServletTraitement</servlet-name>
  	<servlet-class>fr.eni.tpchifoumi.ihm.ServletTraitement</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ServletTraitement</servlet-name>
  	<url-pattern>/ServletTraitement</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>jouer.jsp</servlet-name>
  	<jsp-file>/WEB-INF/jouer.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>jouer.jsp</servlet-name>
  	<url-pattern>/jouer</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>resultat.jsp</servlet-name>
  	<jsp-file>/WEB-INF/resultat.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>resultat.jsp</servlet-name>
  	<url-pattern>/resultat</url-pattern>
  </servlet-mapping>
  
  <error-page>
  	<error-code>404</error-code>
	<location>/erreur404.html</location>
  </error-page>
  <error-page>
  	<error-code>500</error-code>
	<location>/erreur500.html</location>
  </error-page>
  
</web-app>